<div class="card">
  <a (click)="openDialog(item)">
    <img src="./assets/images/default-item.png" class="card-img-top" alt="...">

  </a>
  <div class="card-body">
    <h3 class="card-title">{{item.ItemName}}</h3>
    <p class="card-desc">{{item.DefaultPurchaseDiscount}} </p>
    <p class="price">{{item.ItemPrice}} EGP</p>
    <a class="btn btn-success addToCart" (click)="addToCart(item)"> ADD TO CART &nbsp;<i
        class="fab fa-opencart"></i></a>
  </div>
</div>


<!-- <div id="view">

</div> -->
