
<section >
    <div class="col-lg-4 col-md-4 offset-lg-4" style="margin-bottom: 180px; top: 167px;">
        <h1 style="margin-bottom: 10px;font-weight: bold;">Account Information</h1>
        <div style=" padding: 6px 16px 30px 14px;background-color: #f7f7f7;border-radius: 3px;">
            <div class="row">
                <div  class="col-lg-10" style="margin-bottom: 10px;">
                    <form>
                        <label>Username : </label>
                        <input class="form-control" type="text" value="{{userProfileModel.Username}}"><br>
                        <label>Email : </label>
                        <input type="email" id="email" name="Email"  class="form-control" placeholder="Email" value="{{userProfileModel.Email}}"
                            required>
                        <br />
                        <label>Password : </label>
                        <input class="form-control" type="password" value="{{userProfileModel.Password}}">
                        <button type="submit" (click)="saveEditAccountInfo()" class="btn btn-primary"  value="save" style="margin-top: 15px;">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
