<section id="cartOverView" style="padding-top:200px;">
    <div class="container-fluid">
        <section class="page-title">
            <h2>View Cart</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quidem.</p>
        </section>
        <div class="row">
             <div class="col-md-8 col-lg-8">
                <div class="cartItems">
                    <div class="cartItem d-flex">
                        <div class="cartItemImage d-inline-block">
                            <img src="images/cl-5.jpg" class="d-none d-sm-block">
                        </div>
                        <div class="cartItemDescription d-flex w-100">
                            <div class="productData">
                                <div class="productName">
                                    <h2><a href="#" class="productLink">Steak</a></h2>
                                    <p>400 (gm)</p>
                                </div>
                                <div class="productPrice">
                                    <span class="amount">75.00 EGP</span>
                                </div>

                                <span class="productRemove">
                                    <a href="#" class="removeProduct">remove</a>
                                </span>
                            </div>
                            <div class="quantityTotal">
                                <p class="totalQuantity">4 Items</p>
                                <p class="totalPrice">206 EGP</p>
                            </div>
                        </div>
                    </div>
                    <div class="cartItem d-flex">
                        <div class="cartItemImage d-inline-block">
                            <img src="images/cl-2.jpg" class="d-none d-sm-block">
                        </div>
                        <div class="cartItemDescription d-flex w-100">
                            <div class="productData">
                                <div class="productName">
                                    <h2><a href="#" class="productLink">Fowl</a></h2>
                                    <p>400 (gm)</p>
                                </div>
                                <div class="productPrice">
                                    <span class="amount">75.00 EGP</span>
                                </div>

                                <span class="productRemove">
                                    <a href="#" class="removeProduct">remove</a>
                                </span>
                            </div>
                            <div class="quantityTotal">
                                <p class="totalQuantity">3 Items</p>
                                <p class="totalPrice">625 EGP</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 col-lg-4">
                <app-order-information></app-order-information> 
            </div>
 

        </div>
        <hr/>
    </div>
</section>