
<section  id="personalInfo">
    <div class="col-lg-4 col-md-4 offset-lg-4" style="margin-bottom: 180px; top: 167px;">
        <h1 style="margin-bottom: 10px;font-weight: bold;">Account Information</h1>
        <div style=" padding: 6px 16px 30px 14px;background-color: #f7f7f7;border-radius: 3px;">
            <div class="row">
                <div  class="col-lg-10" style="margin-bottom: 10px;">
                    <form #personalInfo="ngForm" (ngSubmit)="saveEditAccountInfo()">
                        <label>Full Name : </label>
                        <input class="form-control" type="text"  [(ngModel)]="accountInformation.fullName" [ngModelOptions]="{standalone: true}" id="fullName">
                        <br>
                        <label>User Name : </label>
                        <input class="form-control" type="text"  [(ngModel)]="accountInformation.UserName" [ngModelOptions]="{standalone: true}" id="UserName">
                        <br>
                        <label>Email  : </label>
                        <input class="form-control" type="text"  [(ngModel)]="accountInformation.Email" [ngModelOptions]="{standalone: true}" id="Email">
                        <br>
                        <!--
                        <label>Password : </label>
                        <input class="form-control" type="text" [(ngModel)]="accountInformation.Password" [ngModelOptions]="{standalone: true}" id="Password">-->
                        <button type="submit"   class="btn btn-primary"  value="save" style="margin-top: 15px;">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

