  
    <!--start product over view section-->
    <main id="productOverView" style="padding-top: 200px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 productImage visibleInLarge">
                    <img [src]="product.ImagePath" class="w-100" />
                </div>

                <div class="col-md-6 productDescription">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Category</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                        </ol>
                     </nav>
                     <h2>{{product.ProductName}}</h2>
                     <h6>{{product.Category}}</h6>
                     <p class="description">{{product.ProductDescription}}</p>
                     <a href="#" class="btn btn-success addToCart">ADD TO CART &nbsp;<i class="fab fa-opencart"></i></a>
                     
                </div>

                <div class="col-md-6 productImage">
                    <img [src]="product.ImagePath" class="d-none d-md-block w-100"/>
                </div>
            </div>
        </div>
    </main>
    <!--end product over view section-->
    
    <!--start product full width section-->
    <section id="productsListFullWidth">
        <div class="container-fluid">
            <h2 class="subTitleColor">Related Products</h2>
            <div class="card" *ngFor="let item of ProductsList; let i = index" >
                <!-- Button trigger modal -->
                <a href="#exampleModalLong" class="modalTrigger" data-toggle="modal" [attr.data-target]="'#modal' + i">
                    <i class="far fa-eye"></i>
                </a>
                <!--Product Modal -->
                <div class="modal fade" [id]="'modal' +i" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Category Name</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row"> 
                                    <div class="col-md-6 productDescription"> 
                                        <h2>{{item.ProductName}}</h2>
                                        <p class="description">{{item.ProductName}} {{item.ProductDescription}}</p>
                                        <p class="price">{{item.Price}} EGP</p>
                                        <a href="#" class="btn btn-success addToCart">ADD TO CART &nbsp;<i class="fab fa-opencart"></i></a>
                                    </div> 
                                    <div class="col-md-6 productImage">
                                        <img [src]="item.ImagePath" class="d-none d-md-block w-100" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Modal -->

                <a>
                    <img [src]="item.ImagePath" class="card-img-top" alt="...">
                </a>
                <div class="card-body" (click)="selectedProduct(item)" style="cursor: pointer;" style="cursor: pointer;">
                    <h3 class="card-title">{{item.ProductName}}</h3>
                    <p class="card-desc">{{item.Weight}} G</p>
                    <p class="price">{{item.Price}} EGP</p>
                    <a class="btn btn-success addToCart">ADD TO CART &nbsp;<i class="fab fa-opencart"></i></a>
                    <div>
                        <div class="productsQuantityControls">
                            <button class="minusBtn btn btn-secondary">
                                <i class="fas fa-minus fa-fw"></i>
                            </button>
                            <span class="quantity">
                                {{item.Quantity}}
                            </span>
                            <button class="plusBtn btn btn-success">
                                <i class="fas fa-plus fa-fw"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
             

            <div class="clearfix"></div>
        </div>
    </section>
    <!--end product full width section-->
