<!--start offers-->
<section id="offers">
    <div class="container">
        <h2 class="sectionTitle" style="font-family: fantasy;color: #39a6d0;">Special Offers</h2>


        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">

            <div ngxSlickItem *ngFor="let slide of specialOffersList" class="slide">
                <div class="overlay"></div>

                <img src="{{ slide.ImagePath }}" alt="" width="100%">
                <div class="offer-card-desc">
                    <p>Enjoy Our <span class="secondaryColor">{{slide.Precentage}} % </span> On {{slide.Category}}</p>
                    <button class="custom-btn filledButton">Get Offer</button>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</section>
<!--start offers-->