<!--start main products section-->
<section id="mainProductsSection" style="padding-top: 200px;">
    <div class="container-fluid">
        <h2 class="categorySectionName subTitleColor"> {{category}} </h2>
        <div class="row">
            <app-small-filter-aside></app-small-filter-aside>
            <main class="productsList col-md-9 col-lg-10">

                <mat-tab-group (selectedTabChange)="onTabChanged($event)">

                    <mat-tab *ngFor="let category of categoryList" [label]="category.CategoryName">

                        <div class="card" *ngFor="let item of itemsList">
                            <a>
                                <img src="./assets/images/{{item.ImagePath}}" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <h3 class="card-title">{{item.ItemName}}</h3>
                                <p class="card-desc">{{item.DefaultPurchaseDiscount}} G</p>
                                <p class="price">{{item.UnitPrice}} EGP</p>
                                <a class="btn btn-success addToCart">ADD TO CART &nbsp;<i
                                        class="fab fa-opencart"></i></a>
                            </div>
                        </div>

                    </mat-tab>

                </mat-tab-group>

            </main>
            <app-large-filter-aside></app-large-filter-aside>
        </div>
    </div>
</section>
<!--end main products section-->