<!--start header-->
<header id="home">
    <div class="header-slider">
        <div class="overlay"></div>
<!--         
        <owl-carousel [options]="mySlideOptions"  [carouselClasses]="['owl-theme', 'sliding']">
            <div class="item" *ngFor="let image of mySlideImages;let i = index">
                <div class="slick-item">
                    <img [src]=image />
                </div>
            </div>
        </owl-carousel>  -->
        
    </div>

    <!--header content-->
    <div class="header-content">
        <h1>
            Enjoy The
            <span class="secondaryColor">Organic Food</span>
        </h1>
        <i class="fas fa-leaf fa-fw"></i>
        <p>Health is the greatest gift, contentment the greatest wealth</p>
        <div class="callToActions">
            <button class="customButton outLinedButton">
                <a href="#products">CHECK PRODUCTS</a>
            </button>
            <button class="customButton filledButton">
                <a>ORDER NOW</a>
            </button>
        </div>
    </div>
    <!--/header content-->
    
    <div class="divider">
        <img src="./assets/images/white_divider_bottom.png" alt="div devider" />
    </div>
</header>
<!--End header-->
