<div class="cartOrderReview">
    
    <h3 class="w-100">Cart Information <i class="fas fa-leaf fa-fw secondaryColor"></i> </h3>
  
    <div class="orederReview">
        <p class="lastOrderInfo d-flex justify-content-between">
            <span class="values">Total Price:</span>
            <span class="total">{{cartSummary.totalPrice}} EGP</span>
        </p>
        <!--<p class="lastOrderInfo d-flex justify-content-between">
            <span class="values">Branch:</span>
            <span class="total">{{cartSummary.branchName}}</span>
        </p>-->
        <p class="lastOrderInfo d-flex justify-content-between">
            <span class="values">Tax:</span>
            <span class="total">  {{cartSummary.totalPrice * (autoTax/100)}}
             </span>
        </p>
        <p class="lastOrderInfo d-flex justify-content-between">
            <span class="values">discount:</span>
            <span class="total">  {{(cartSummary.totalPrice * (discountTax/100)) + ((cartSummary.totalPrice + ((cartSummary.totalPrice * (autoTax/100))))* (autoDiscount/100))}}
             </span>
        </p>
        <p class="lastOrderInfo d-flex justify-content-between">
            <span class="values">Total Net Price:</span>
            <span class="total">  {{cartSummary.totalPrice + ((cartSummary.totalPrice * (autoTax/100)))  - (cartSummary.totalPrice * (discountTax/100)) - (((cartSummary.totalPrice * (autoTax/100))+cartSummary.totalPrice) * (autoDiscount/100))}}
             </span>
            
        </p>
        <div class="cartCallToActions text-center">
            <a (click) ="goToCheckOut()" class="checkOut d-block btn btn-primary" style="color: #FFF;">
                    CHECK OUT <i class="fas fa-door-open"></i>
            </a>
            <!--<a [routerLink]="['/auth']" class="signIn d-block">
                Sign In
            </a>-->
        </div>
    </div>    
</div>