
<section >
    <div class="col-lg-4 col-md-4 offset-lg-4" style="margin-bottom: 180px; top: 167px;">
        <h1 style="margin-bottom: 10px;font-weight: bold;">Account Settings</h1>
        <div style=" padding: 6px 16px 30px 14px;background-color: #f7f7f7;border-radius: 3px;">
            <div class="row" style="border-bottom: 1px solid#e2dfdf;">
                <div  class="col-lg-10" style="margin-bottom: 10px;">
                    <h3 style="font-weight: bold;padding-bottom: 9px;">Account Information</h3>
                    <p>Username : {{userProfileModel.Username}}</p>
                    <p>Email : {{userProfileModel.Email}}</p>
                    <p>Password : ******</p>
                </div>
                <div class="col-lg-2" style=" margin-top: 36px;">
                    <button class="btn btn-primary" (click)="editAccountInfo()">Edit</button>
                </div>
            </div>
            <div class="row" style="border-bottom: 1px solid#e2dfdf; margin-top: 10px;">
                <div class="col-lg-10" style="margin-bottom: 10px;">
                    <h3 style="font-weight: bold;padding-bottom: 9px;">Personal Information</h3>
                    <p>Full Name : {{userProfileModel.ProfileName}}</p>
                    <p>Gender : </p>
                </div>
                <div class="col-lg-2"  style="margin-top: 36px;">
                    <button class="btn btn-primary" (click)="editPersonalInfo()">Edit</button>
                </div>
            </div>  
            <div class="row" style="margin-top: 10px;">  
                <div class="col-lg-10" >
                    <h3 style="font-weight: bold;padding-bottom: 9px;">Conatct Information</h3>
                    <p>Address : {{userProfileModel.Address}}</p>
                    <p>Phone : {{userProfileModel.Mobile}}</p>
                </div>
                <div class="col-lg-2" style="margin-top: 36px;">
                    <button class="btn btn-primary" (click)="editContactInfo()">Edit</button>
                </div>
            </div>
        </div>
    </div>
</section>

