<div class="cartItems"> 
  <div *ngFor="let item of items" style="border: 1px solid #EEE; padding: 15px;margin: 15px 0;border-radius: 10px;">
  <div  class="cartItem d-flex" >
    <div class="cartItemImage d-inline-block">
      <img src="{{httpHelperService.imageUrl}}?referenceId={{item.Id}}&referenceTypeId=22" class="d-none d-sm-block">
    </div>
    <div class="cartItemDescription d-flex w-100">
      <div class="productData">
        <div class="productName">
          <h2><a class="productLink">{{item.ItemName}}</a></h2>
        </div>
        <div class="productPrice">
          <span class="amount">{{item.ItemPrice}} EGP</span>
        </div>

        <span class="productRemove">
          <a (click)="removeItem(item)" class="removeProduct">remove</a>
        </span>
      </div>
      <div class="quantityTotal" style="border: 1px solid #eee; width: 55px; border-radius: 5px;">
          <span style="position: absolute; margin-left: 10px; margin-top: 3px; font-size: 15px;">{{item.Quantity}}</span>
          <i class="fas fa-caret-up" (click)="increaseQuantity(item)" style="position: absolute; margin-left: 41px;font-size: 18px; cursor: pointer;"></i>
          <i class="fas fa-caret-down" (click)="decreaseQuantity(item)" style="margin-left: 41px;margin-top: 11px;font-size: 18px; cursor: pointer;"></i>
      </div>
      <div class="quantityTotal">
        <p class="totalPrice">{{item.Quantity * item.ItemPrice}} EGP</p>
      </div>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{item.Id}}" role="button" aria-expanded="false">more</a>
    </div>
    
  </div>
  <div class="collapse" id="collapseExample{{item.Id}}">
    <p>{{item.CategoryId}}</p>
    <p>test </p>
  </div>
  </div>
</div>
