<!--start offers-->
<section id="offers">
    <div class="container">
        <h2 class="sectionTitle" style="font-family: fantasy;color: #39a6d0;">Best Price</h2>


        <ngx-slick-carousel  #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let item of itemsList" class="slide">
                <div class="overlay"></div>
                <div class="offer-card-desc" style="    margin-left: 35px;">
                    <app-product-card [item]="item"></app-product-card>
                </div>
            </div> 
        </ngx-slick-carousel>
    </div>
</section>
<!--start offers-->