<!-- <nav class="checkOutNav">
  <div class="container">
    <div class="inner d-flex justify-content-between align-items-center">
      <div>
        <a href="#">
          <img src="images/output-onlinepngtools (1).png" />
        </a>
      </div>
      <div>
        <a href="cart-view.html">
          <img src="images/cart.png" />
        </a>
      </div>
    </div>
  </div>
</nav>

<section id="checkOut">
  <div class="container-fluid">
    <section class="page-title">
      <h2 class="text-center">Check Out</h2>
      <p class="text-center">You can enter your information to help us to communicate with you.</p>
    </section>
    <div class="row">
      <div class=" col-md-4 col-lg-4">
        <app-order-information></app-order-information>
      </div>
      <div class="col-md-8">
        <div class="checkOutFrom">
          <h3>Personal Information</h3>
          <form>
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label for="exampleInputName1">First Name</label>
                <input type="text" [(ngModel)]="customer.Profile.FirstName" class="form-control" #firstName="ngModel"
                  id="firstName" name="firstName" placeholder="Enter First Name" required>
              </div>
              <div class="form-group col-sm-6">
                <label for="exampleInputName2">Last Name</label>
                <input type="text" [(ngModel)]="customer.Profile.LastName" class="form-control" #lastName="ngModel"
                  id="lastName" name="lastName" placeholder="Enter Last Name">
              </div>

              <div class="form-group col-12">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" [(ngModel)]="customer.Profile.Email" class="form-control" #email="ngModel"
                  id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                  anyone else.</small>
              </div>

              <div class="form-group col-sm-6">
                <label for="exampleInputNumber1">Mobile Number</label>
                <input type="text" [(ngModel)]="customer.Mobile" class="form-control" #mobile="ngModel" id="mobile"
                  name="mobile" placeholder="Enter Your Mobile Number" required>
              </div>

              <div class="form-group col-sm-6">
                <label for="exampleInputNumber2">Another Mobile Number</label>
                <input type="text" [(ngModel)]="customer.Phone" class="form-control" #phone="ngModel" id="phone"
                  name="phone" placeholder="Enter Another Mobile Number">
              </div>


              <div class="form-group col-sm-6">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelectCountry">Country</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelectCountry">
                    <option selected>Choose ...</option>
                    <option *ngFor="let item of countryList" value="item.Id">
                      {{item.CountryName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelectArea">Area</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelectArea">
                    <option selected>Choose...</option>
                    <option *ngFor="let item of areaList" value="item.Id">
                      {{item.AreaName}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group col-sm-6">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelectArea">City</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelectArea">
                    <option selected>Choose...</option>
                    <option *ngFor="let item of cityList" value="item.Id">
                      {{item.CityName}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group col-sm-6">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelectArea">District</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelectArea">
                    <option selected>Choose...</option>
                    <option *ngFor="let item of districtList" value="item.Id">
                      {{item.DistrictName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group col-12">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Street Name</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                </div>
              </div>
              <div class="form-group col-12 col-sm-6">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Appartment Number</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                </div>
              </div>
              <div class="form-group col-12 col-sm-6">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Unit Number</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                </div>
              </div>
              <div class="form-group col-12">
                <label for="exampleFormControlTextarea1">Notes</label>
                <textarea class="form-control remainingText" maxlength="1000" id="exampleFormControlTextarea1" rows="4"
                  placeholder="Kindly Left Your Notes..."></textarea>
                <div class="message remainingTextMessage"></div>
              </div>
            </div>

            <h3>Payment Method</h3>
            <div class="custom-control custom-radio creditCard">
              <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
              <label class="custom-control-label radioLabels" for="customRadio1">Pay With Credit
                Card</label>
            </div>
            <div class="creditCardPayments">
              <div class="row">
                <div class="col-12" style="margin:40px 0">
                  <img src="./assets/images/Bitmap11.png" />
                  <img src="./assets/images/Bitmap1.png" />
                  <img src="./assets/images/Bitmap.png" />
                </div>
                <div class="form-group col-12">
                  <label for="exampleInputCreditCardNumber1">Credit Card Number</label>
                  <input type="number" class="form-control" id="exampleInputCreditCardNumber1"
                    placeholder="Enter Your Credit Card Number" required>
                </div>
                <div class="form-group col-sm-6">
                  <label for="exampleInputSecurityCode1">Security Code</label>
                  <input type="number" class="form-control" id="exampleInputSecurityCode1"
                    placeholder="Enter Your Security Code" required>
                </div>
              </div>
            </div>

            <div class="custom-control custom-radio cashOnDelivery">
              <input type="radio" id="customRadio2" name="customRadio2" class="custom-control-input">
              <label class="custom-control-label radioLabels" for="customRadio2">Cash On Delivery</label>
            </div>

            <div class="col-auto my-1">
              <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                <label class="custom-control-label" for="customControlAutosizing">I have reed and agree
                  to the <a href="#">terms and conditions</a></label>
              </div>
            </div>
            <button type="submit" (click)="checkOut()" class="checkOut d-block btn btn-danger">
              CHECK OUT <i class="fas fa-door-open"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
    <hr />
  </div>
</section> -->


<!--New Page-->
<nav class="checkOutNav">
  <div class="container">
    <div class="inner d-flex justify-content-between align-items-center">
      <div>
        <a href="#">
          <img src="images/output-onlinepngtools (1).png" />
        </a>
      </div>
      <div>
        <a href="cart-view.html">
          <img src="images/cart.png" />
        </a>
      </div>
    </div>
  </div>
</nav>

<section id="checkOut">
  <div class="container-fluid">
    <section class="page-title">
      <h2 class="text-center">Check Out</h2>
      <p class="text-center">You can enter your information to help us to communicate with you.</p>
    </section>
    <div class="row">
      <div class=" col-md-4 col-lg-4">
        <app-order-information></app-order-information>
      </div>
      <div class="col-md-8">
        <div class="checkOutFrom">
          <h3>Personal Information</h3>
          <form >
            <div class="form-row">
              <div class="form-group col-sm-6" >
                <label for="exampleInputName1">Full Name</label>
                <input type="text" [(ngModel)]="userProfileModel.ProfileName" class="form-control" 
                  #ProfileName="ngModel" id="ProfileName" name="ProfileName" required>
              </div>
              <div class="form-group col-sm-6">
                <label for="exampleInputName1">User Name</label>
                <input type="text" [(ngModel)]="userProfileModel.Username" class="form-control" #Username="ngModel"
                  id="Username" name="Username" required>
              </div>
              <div class="form-group col-12">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" [(ngModel)]="userProfileModel.Email" class="form-control" #Email="ngModel"
                  id="email" name="email" aria-describedby="emailHelp" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                  anyone else.</small>
              </div>
              <div class="form-group col-sm-6">
                <label for="exampleInputNumber1">Mobile Number</label>
                <input type="text" [(ngModel)]="userProfileModel.Mobile" class="form-control" #mobile="ngModel"
                  id="mobile" name="mobile">
              </div>
              <div class="form-group col-sm-6">
                <label for="exampleInputNumber1">Address</label>
                <input type="text" [(ngModel)]="userProfileModel.Address" class="form-control" #Address="ngModel"
                  id="Address" name="Address">
              </div>
              <div class="form-group col-sm-6">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelectCountry">Country</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelectCountry">
                    <option selected>Choose ...</option>
                    <option *ngFor="let item of countryList" value="item.Id">
                      {{item.CountryName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelectArea">Area</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelectArea">
                    <option selected>Choose...</option>
                    <option *ngFor="let item of areaList" value="item.Id">
                      {{item.AreaName}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group col-sm-6">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelectArea">City</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelectArea">
                    <option selected>Choose...</option>
                    <option *ngFor="let item of cityList" value="item.Id">
                      {{item.CityName}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group col-sm-6">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelectArea">District</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelectArea" [(ngModel)]="userProfileModel.DistrictId">
                    <option selected>Choose...</option>
                    <option *ngFor="let item of districtList" value="item.DistrictId">
                      {{item.DistrictName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group col-12">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Street Name</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                </div>
              </div>

            </div>

            <div class="col-auto my-1">
              <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                <label class="custom-control-label" for="customControlAutosizing">I have read and agree
                  to the <a href="#">terms and conditions</a></label>
              </div>
            </div>
            <button type="submit" (click)="checkOut()" class="checkOut d-block btn btn-danger">
              CHECK OUT <i class="fas fa-door-open"></i>
            </button>
            <button type="submit"  (click)="purchaseLater()" class="checkOut d-block btn btn-success" style="margin-left: 10%;">
              Purchase Later <i class="fas fa-archive"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
    <hr />
  </div>
</section>
