<div mat-dialog-content>
  <h1 class="title-pen"> User Profile <span></span></h1>
  <div class="user-profile">
    <img class="avatar"
      src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTF_erFD1SeUnxEpvFjzBCCDxLvf-wlh9ZuPMqi02qGnyyBtPWdE-3KoH3s"
      alt="Ash" />
    <div class="username">Mahmoud Ali</div>
    <div class="bio">
      Cairo - Badr City
    </div>
    <div class="description">
      Customer Notes
    </div>
    <ul class="data">
      <!-- <li>
        <span class="entypo-heart"> 127</span>
      </li>
      <li>
        <span class="entypo-eye"> 853</span>
      </li> -->
      <li>
        <span class="entypo-heart"> Order Number: 150</span>
      </li>
    </ul>
  </div>
  <footer>
    <h1>
      <a [routerLink]="['/products']" (click)="close()">
        <span class="entypo-dribbble"></span> Continue Shopping </a>
    </h1>
  </footer>
</div>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
</div> -->
