<div mat-dialog-content>
  <h1 class="text-center"> User Profile </h1>
  <div class="user-profile">
    <img class="avatar" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTF_erFD1SeUnxEpvFjzBCCDxLvf-wlh9ZuPMqi02qGnyyBtPWdE-3KoH3s" alt="Ash" />
    <div class="username">{{userProfileModel.UserName}}</div>
    <div class="bio">
      {{userProfileModel.Address}}
    </div>
    <div class="description">
      {{userProfileModel.Mobile}}
    </div>
    <div class="description">
      {{userProfileModel.Email}}
    </div>
    <ul class="data">
      <li>
        <span class="entypo-heart"> Order Number: 150</span>
      </li>
    </ul>
  </div>
  <footer style="padding:15px 0"> 
    <button mat-raised-button color="primary" style="margin:10px auto;" class="d-block" [routerLink]="['/products']" (click)="close()"> 
        Continue Shopping 
    </button>
    <button  mat-raised-button style="margin:10px auto;" class="d-block" (click)="logOut()"> 
        Logout 
    </button>
  </footer>
</div>
