<div mat-dialog-content>
  <h1 class="title-pen"> User Profile <span></span></h1>
  <div class="user-profile">
    <img class="avatar"
      src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTF_erFD1SeUnxEpvFjzBCCDxLvf-wlh9ZuPMqi02qGnyyBtPWdE-3KoH3s"
      alt="Ash" />
    <div class="username">{{userProfileModel.UserName}}</div>
    <div class="bio">
      {{userProfileModel.Address}}
    </div>
    <div class="description">
      {{userProfileModel.Mobile}}
    </div>
    <div class="description">
      {{userProfileModel.Email}}
    </div>
    <ul class="data">
      <li>
        <span class="entypo-heart"> Order Number: 150</span>
      </li>
    </ul>
  </div>
  <footer>
    <br>
    <h1>
      <a [routerLink]="['/products']" (click)="close()">
        <span class="entypo-dribbble"></span> Continue Shopping
      </a>

    </h1>
    <h3>
      <a (click)="logOut()">
        <span style="margin-left: 30%;cursor:pointer"></span> Logout
      </a>
    </h3>
  </footer>
</div>
