<section id="cartOverView" style="padding-top:200px;">
    <div class="container-fluid">
        <section class="page-title">
            <h2>View Cart</h2>
            <p>You can find all items you select here.</p>
        </section>
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <app-cart-items></app-cart-items>
            </div>
            <div class=" col-md-4 col-lg-4">
                <app-order-information></app-order-information>
            </div>
        </div>
        <hr />
    </div>
</section>