<!-- <div class="vertical-align-wrap">
  <div class="vertical-align-middle">
    <div class="auth-box ">
      <div class="left">
        <div class="content">
          <div class="header">
            <div class="logo text-center">
              <img src="assets/img/logo-dark.png" alt="Klorofil Logo">
            </div>
            <p class="lead">Login to your account</p>
          </div>


          <form class="form-signin" #loginForm="ngForm" (ngSubmit)="register(loginForm)">
            <div class="container-fluid">
              <h2 class="form-signin-heading">Login</h2>
              <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
              <br/>
              <label for="username" class="sr-only">Email address</label>
              <input type="email" id="username" name="username" ngModel class="form-control" placeholder="User Name" required autofocus>
              <br/>
              <label for="password" class="sr-only">Password</label>
              <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
              <br/>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>
          </form>

        </div>
      </div>
      <div class="right">
        <div class="overlay"></div>
        <div class="content text">
          <h1 class="heading">Free Bootstrap dashboard template</h1>
          <p>by The Develovers</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div> -->
