
<section  id="personalInfo">
    <div class="col-lg-4 col-md-4 offset-lg-4" style="margin-bottom: 180px; top: 167px;">
        <h1 style="margin-bottom: 10px;font-weight: bold;">Change Password</h1>
        <div style=" padding: 6px 16px 30px 14px;background-color: #f7f7f7;border-radius: 3px;">
            <div class="row">
                <div  class="col-lg-10" style="margin-bottom: 10px;">
                    <form #change="ngForm" (ngSubmit)="changePassword()">
                        <label>Old Password : </label>
                        <input class="form-control" type="password"  [(ngModel)]="changePass.oldPassword" [ngModelOptions]="{standalone: true}" id="oldPassword">
                        <br>
                        <label>New Password : </label>
                        <input class="form-control" type="password"  [(ngModel)]="changePass.newPassword" [ngModelOptions]="{standalone: true}" id="newPassword">
                        <br>
                        <label>Confirm Password  : </label>
                        <input class="form-control" type="password"  [(ngModel)]="changePass.confirmPassword" [ngModelOptions]="{standalone: true}" id="confirmPassword">
                        <button type="submit"   class="btn btn-primary"  value="save" style="margin-top: 15px;">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>