<div *ngIf="product">
  <h1 mat-dialog-title> {{product.ItemName}}</h1>
  <div mat-dialog-content>


    <div class="row" *ngFor="let item of product.ItemAttributeList">

      <div class="col-lg-12" *ngIf="item.ItemTypeAttributeType==2">
        <mat-form-field>
          <mat-label>{{item.ItemTypeAttributeName}}</mat-label>
          <mat-select>
            <mat-option *ngFor="let itemType of item.ItemTypeAttributeItemList" value="itemType.ItemTypeAttributeId">
              {{itemType.ItemTypeAttributeItemName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-12" *ngIf="item.ItemTypeAttributeType==1">
        <mat-form-field>
          <mat-label>{{item.ItemTypeAttributeName}}</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>


  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <!-- <button (click)="addToCart(product)" mat-button cdkFocusInitial>Add To Cart</button> -->
    <a (click)="addToCart(product)" class="btn btn-success addToCart">ADD TO CART &nbsp;<i class="fab fa-opencart"></i></a>

  </div>

</div>
