#cartOverView .page-title{
    text-align:right
}
#cartOverView .cartItems .cartItem .cartItemDescription{
    text-align:right
}
#cartOverView .cartItems .cartItem .cartItemDescription .quantityTotal{
    text-align:left
}
#productsListFullWidth h2{
    text-align:right
}
#productsListFullWidth .card .card-body {
    text-align:right
}