
main.productsList .card .card-body {
    text-align:right
}
aside.largeAndMedium h2{
    border-top-left-radius:0;
    border-top-right-radius:8px
}
.formFilterProduct .form-check-input{
    right:90%
}
.formFilterProduct .form-check-label {
    text-align:right
}