
#productOverView .productDescription{
    text-align:right
}
#productOverView .productImage img{
    border-top-right-radius:35px;
    border-bottom-left-radius:35px;
    border-bottom-right-radius:0;
    border-top-left-radius:0;
}