<!--start product over view section-->
<main id="productOverView" style="padding-top: 200px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 productImage visibleInLarge">
        <img src="./assets/images/cl-5.jpg" class="w-100" />
      </div>

      <div class="col-md-6 productDescription">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Library</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
          </ol>
        </nav>
        <h2>{{product.CategoryName}}</h2>
        <h6>{{product.ItemName}}</h6>
        <p class="description">{{product.ItemDescription}}</p>
        <p class="price">{{product.ItemPrice}} EGP</p>

        <div *ngFor="let item of product.ItemAttributeList">



          <!--Text-->
          <div class="col-lg-12" *ngIf="item.ItemTypeAttributeType==documentAttributeType.Text && item.IsRequired == true">
            <mat-form-field>
              <mat-label>{{item.ItemTypeAttributeName}}</mat-label>
              <input matInput [(ngModel)]="attributes[item.Id]" [value]="item.ItemTypeAttributeId" class="test">
            </mat-form-field>
          </div>
          <!--END Text-->
    
          <!--Drop Down List-->
          <div class="col-lg-12" *ngIf="item.ItemTypeAttributeType==documentAttributeType.DropDownList && item.IsRequired == true">
            <mat-form-field>
              <mat-label>{{item.ItemTypeAttributeName}}</mat-label>
              <mat-select [(ngModel)]="attributes[item.Id]">
                <mat-option *ngFor="let itemType of item.ItemTypeAttributeItemList" [value]="itemType.ItemTypeAttributeItemName">
                  {{itemType.ItemTypeAttributeItemName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!--END Drop Down List-->
    
        </div>
        <a (click)="addToCart(product)" class="btn btn-primary addToCart">Add To Card&nbsp;<i class="fa fa-cart-plus"></i></a>

      </div>

      <div class="col-md-6 productImage">
       
    <img src="{{httpHelperService.imageUrl}}?referenceId={{product.Id}}&referenceTypeId=22" class="d-none d-md-block w-100">

      </div>
    </div>
  </div>
</main>
<!--end product over view section-->
<app-related-product *ngIf="product.CategoryId>0" [categoryId]="product.CategoryId"
  (selectedProduct)="onSelectProduct($event)"></app-related-product>
