<!--start product over view section-->
<main id="productOverView" style="padding-top: 200px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 productImage visibleInLarge">
                <img src="./assets/images/cl-5.jpg" class="w-100" />
            </div>

            <div class="col-md-6 productDescription">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Library</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                </nav>
                <h2>Steak</h2>
                <h6>Meet</h6>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. . Excepteur sint occaecat cupidatat non proident, sunt
                    in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="price">250,00 EGP</p>
                <a href="#" class="btn btn-success addToCart">ADD TO CART &nbsp;<i class="fab fa-opencart"></i></a>

            </div>

            <div class="col-md-6 productImage">
                <img src="./assets/images/cl-5.jpg" class="d-none d-md-block w-100" />
            </div>
        </div>
    </div>
</main>
<!--end product over view section-->
<app-related-product></app-related-product>