<!--start header-->
<header id="home">
    <div class="header-slider">
        <div class="overlay"></div>

        <owl-carousel [options]="mySlideOptions"  [carouselClasses]="['owl-theme', 'sliding']">
            <div class="item" *ngFor="let image of mySlideImages;let i = index">
                <div class="slick-item">
                    <img [src]=image />
                </div>
            </div>
        </owl-carousel>
        
    </div>

    <!--header content-->
    <div class="header-content">
        <h1>
            Enjoy The
            <span class="secondaryColor">Organic Food</span>
        </h1>
        <i class="fas fa-leaf fa-fw"></i>
        <p>Health is the greatest gift, contentment the greatest wealth</p>
        <div class="callToActions">
            <button class="customButton outLinedButton">
                <a href="#products">CHECK PRODUCTS</a>
            </button>
            <button class="customButton filledButton" [routerLink]="['/products']">
                <a>ORDER NOW</a>
            </button>
        </div>
    </div>
    <!--/header content-->
    <div class="divider">
        <img src="../../assets/images/white_divider_bottom.png" alt="div devider" />
    </div>
</header>
<!--End header-->

<!--start about us-->
<section id="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-md-6 content">
                <h2 class="sectionTitle">About Us</h2>
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</P>
            </div>
            <div class="col-md-6 image">
                <img src="../../assets/images/Healthy-Food.jpg" class="w-100" alt="organic food" />
            </div>
        </div>
        <div class="missionAndVision">
            <h3> Our Mission <i class="fas fa-level-down-alt fa-fw greyBlueColor"></i> </h3>
            <p><i class="fas fa-certificate secondaryColor"></i> Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aiqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor
                sit amet, consectetur adipiscing elit,</p>
            <p><i class="fas fa-certificate secondaryColor"></i> sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
            <h3>
                Our Vision <i class="far fa-eye greyBlueColor"></i>
            </h3>
            <p><i class="fas fa-certificate secondaryColor"></i> Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor
                sit amet, consectetur adipiscing elit,</p>
            <p><i class="fas fa-certificate secondaryColor"></i> sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</section>
<!--end about us-->

<!--start tesmimonials-->
<section id="testimonials">
    <div class="overlay"></div>
    <div class="content text-center">
        <h2>
            <i class="fas fa-balance-scale-right secondaryColor"></i> Testimonials <i
                class="fas fa-balance-scale-left secondaryColor"></i>
        </h2>
        <div class="container">
            <div class="f-slider">
                <div>
                    <q>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</q>
                    <img src="../../assets/images/p1.jpg" alt="client review image" />
                    <h3>Rafael Alekhandro</h3>
                    <span>UI/UX Designer</span>
                </div>
                <div>
                    <q>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</q>
                    <img src="../../assets/images/p2.jpg" alt="client review image" />
                    <h3>Maicheal Obama</h3>
                    <span>Graphic Designer</span>
                </div>
                <div>
                    <q>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</q>
                    <img src="../../assets/images/p1.jpg" alt="client review image" />
                    <h3>Sarah Brad</h3>
                    <span>UI/UX Designer</span>
                </div>
                <div>
                    <q>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</q>
                    <img src="../../assets/images/p2.jpg" alt="client review image" />
                    <h3>Tomas Arther</h3>
                    <span>UI/UX Consultant</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end testimonials-->

<!--start offers-->
<section id="offers">
    <div class="container">
        <h2 class="sectionTitle">Special Offers</h2>
        <div class="autoplay">
            <div class="offer-card">
                <div class="overlay"></div>
                <img src="../../assets/images/apples-buy-customer-95425.jpg" />
                <div class="offer-card-desc">
                    <p>Enjoy Our <span class="secondaryColor">25%</span> On Fowl</p>
                    <button class="custom-btn filledButton">Get Offer</button>
                </div>
            </div>
            <div class="offer-card">
                <div class="overlay"></div>
                <img src="../../assets/images/asian-assorted-background-917371.jpg" />
                <div class="offer-card-desc">
                    <p>Enjoy Our <span class="secondaryColor">20%</span> On Meet</p>
                    <button class="custom-btn filledButton">Get Offer</button>
                </div>
            </div>
            <div class="offer-card">
                <div class="overlay"></div>
                <img src="../../assets/images/branding-buy-city-264636.jpg" />
                <div class="offer-card-desc">
                    <p>Enjoy Our <span class="secondaryColor">30%</span> On seed</p>
                    <button class="custom-btn filledButton">Get Offer</button>
                </div>
            </div>
            <div class="offer-card">
                <div class="overlay"></div>
                <img src="../../assets/images/apples-buy-customer-95425.jpg" />
                <div class="offer-card-desc">
                    <p>Enjoy Our <span class="secondaryColor">25%</span> On fowl</p>
                    <button class="custom-btn filledButton">Get Offer</button>
                </div>
            </div>
            <div class="offer-card">
                <div class="overlay"></div>
                <img src="../../assets/images/asian-assorted-background-917371.jpg" />
                <div class="offer-card-desc">
                    <p>Enjoy Our <span class="secondaryColor">25%</span> On meet</p>
                    <button class="custom-btn filledButton">Get Offer</button>
                </div>
            </div>
            <div class="offer-card">
                <div class="overlay"></div>
                <img src="../../assets/images/branding-buy-city-264636.jpg" />
                <div class="offer-card-desc">
                    <p>Enjoy Our <span class="secondaryColor">30%</span> On seed</p>
                    <button class="custom-btn filledButton">Get Offer</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--start offers-->