<section id="cartOverView" >
    <div class="container-fluid">
        <section class="page-title">
            <h2 style="font-family:fantasy">Inovice Order</h2>
        </section>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="row view-cart-header">
                    <span class="col-lg-2" style="font-size: 18px;font-weight: bold;font-family: sans-serif;color: #39a6d0;">Image</span>
                    <span class="col-lg-2" style="font-size: 18px;font-weight: bold;font-family: sans-serif;color: #39a6d0;">Name</span>
                    <span class="col-lg-2" style="font-size: 18px;font-weight: bold;font-family: sans-serif;color: #39a6d0;">Price</span>
                    <span class="col-lg-2" style="font-size: 18px;font-weight: bold;font-family: sans-serif;color: #39a6d0;">Quantity</span>
                    <span class="col-lg-2" style="font-size: 18px;font-weight: bold;font-family: sans-serif;color: #39a6d0;">Total</span>
                    <span class="col-lg-2" style="font-size: 18px;font-weight: bold;font-family: sans-serif;color: #39a6d0;">...</span>
                </div>
            <app-cart-items></app-cart-items> 

            </div>
        </div>
    </div>
</section>