<div class="cartOrderReview">
    
    <h3 class="w-100">Order Information <i class="fas fa-leaf fa-fw secondaryColor"></i> </h3>
  
    <div class="orederReview">
        <p class="lastOrderInfo d-flex justify-content-between">
            <span class="values">Total Price:</span>
            <span class="total">{{cartSummary.totalPrice}} EGP</span>
        </p>
        <p class="lastOrderInfo d-flex justify-content-between">
            <span class="values">Branch:</span>
            <span class="total">{{cartSummary.branchName}}</span>
        </p>
        <p class="lastOrderInfo d-flex justify-content-between">
            <span class="values">Total Discount:</span>
            <span class="total">{{cartSummary.totalDiscount}} %</span>
        </p>
        <div class="cartCallToActions text-center">
            <a [routerLink]="['/cart/check-out']" class="checkOut d-block btn btn-danger">
                    CHECK OUT <i class="fas fa-door-open"></i>
            </a>
            <a [routerLink]="['/auth']" class="signIn d-block">
                Sign In
            </a>
        </div>
    </div>    
</div>