
<!--start about us-->
<section id="aboutus" style="margin-top: 0px;">
    <div class="container">
        <div class="row" style="position:relative;top:170px">
            <div class="col-md-6 content">
                <h2 class="sectionTitle">About Us</h2>
                <P>{{aboutUsModel.AboutUsText}}</P>
            </div>
            <div class="col-md-6 image">
                <img src="./assets/images/{{aboutUsModel.AboutUsImage}}" class="w-100" alt="organic food" />
            </div>
        </div>
        <div class="missionAndVision">
            <div class="mission">
                <h3> Our Mission <i class="fas fa-level-down-alt fa-fw greyBlueColor"></i> </h3>
                <p>
                    <i class="fas fa-certificate secondaryColor"></i> 
                    {{aboutUsModel.Mission}}
                </p> 
            </div>
            <div class="vision"> 
                <h3>
                    Our Vision <i class="far fa-eye greyBlueColor"></i>
                </h3>
                <p>
                    <i class="fas fa-certificate secondaryColor"></i> 
                    {{aboutUsModel.Vision}}
                </p>
                 
            </div>
        </div>
    </div>
</section>
<!--end about us-->